body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    color: #333;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.left-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

#character-selection, #card-selection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#visualisation {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex-grow: 2;
}

#visualisation-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#visualisation-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.selection-container ul {
    list-style-type: none;
    padding: 0;
}

.selection-container li {
    display: flex;
    align-items: center;
    gap: 10px;
}

button {
    background-color: #4facfe;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3b9ee6;
}

button:active {
    background-color: #3383c4;
}
