<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Visualiser</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Section 1: Character Selection -->
    <section id="character-selection">
        <h2>Character Selection</h2>
        <div class="selection-container">
            <ul>
                <li><button id="char-left-1">&#9664;</button><p id="selected-character-1">Character 1</p><button id="char-right-1">&#9654;</button></li>
                <li><button id="char-left-2">&#9664;</button><p id="selected-character-2">Character 2</p><button id="char-right-2">&#9654;</button></li>
                <li><button id="char-left-3">&#9664;</button><p id="selected-character-3">Character 3</p><button id="char-right-3">&#9654;</button></li>
                <li><button id="char-left-4">&#9664;</button><p id="selected-character-4">Character 4</p><button id="char-right-4">&#9654;</button></li>
                <li><button id="char-left-5">&#9664;</button><p id="selected-character-5">Character 5</p><button id="char-right-5">&#9654;</button></li>
            </ul>
        </div>
    </section>

    <!-- Section 2: Card Selection -->
    <section id="card-selection">
        <h2>Card Selection</h2>
        <div class="selection-container">
            <ul>
                <li><button id="card-left-1">&#9664;</button><p id="selected-card-1">Card 1</p><button id="card-right-1">&#9654;</button></li>
                <li><button id="card-left-2">&#9664;</button><p id="selected-card-2">Card 2</p><button id="card-right-2">&#9654;</button></li>
                <li><button id="card-left-3">&#9664;</button><p id="selected-card-3">Card 3</p><button id="card-right-3">&#9654;</button></li>
                <li><button id="card-left-4">&#9664;</button><p id="selected-card-4">Card 4</p><button id="card-right-4">&#9654;</button></li>
                <li><button id="card-left-5">&#9664;</button><p id="selected-card-5">Card 5</p><button id="card-right-5">&#9654;</button></li>

            </ul>
        </div>
    </section>

    <!-- Section 3: Visualisation -->
    <section id="visualisation">
        <h2>Visualisation</h2>
        <div id="visualisation-container">

        </div>
    </section>

    <script type="text/javascript" src="{{ url_for('static', filename='doe_index.js') }}"></script>
</body>
</html>